/* .iframeWrapper: flexbox로 중앙 정렬 */
.iframeWrapper {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    min-height: 100vh; /* 화면 전체 높이 */
    width: 100%;
}

/* .iframeContainer: 16:9 비율을 유지하면서 iframe을 설정 */
.iframeContainer {
    position: relative;
    width: 80vw; /* 너비를 80%로 설정 */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 비율 */
    overflow: hidden; /* 화면을 넘지 않게 하기 */
}

/* iframe: 부모 div에 맞게 크기 조정 */
.iframeContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* border 제거 */
}

/* Modal 콘텐츠 반응형 */
.modal-content {
    max-width: 90vw;
    margin: auto;
}

@media (max-width: 576px) {
    .modal-content {
        max-width: 100vw;
    }
}
